@import '../../../main-styles.scss';

mat-toolbar {
  background: linear-gradient(to right, gold, $pink);
  box-shadow: 0px 0px 10px 0px rgba($color: white, $alpha: 0.15);

  h1 {
    color: $black;
    font-size: 24px;
    justify-content: center;
    align-content: center;
  }
}

mat-icon {
  padding: 0 20px;
  &:hover {
    cursor: pointer;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}
